<nav> 
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">D4U</a>
        <ul id="nav-mobile" class="right">
        <li><a href="/quemsomos">Sobre</a></li>
        </ul>
    </div>
</nav>
<br><br>