<!--Navigation-->
 <div class="navbar-fixed">
    <nav class="default_color">
        <div class="container-nav">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">
                    <img src="../img/landscape-logo.png" alt="">
                </a>
            </div>
        </div>
    </nav>
</div>