<footer class="page-footer black rodape">
  <div class="footer-copyright">
    <div class="container">
        © 2016 Todos os direitos reservados
        <img src="../img/logo-2.png" class="right" alt="logo-dodrive">
    </div>
  </div>
</footer>