<!--Navigation-->
 <div class="navbar-fixed">
    <nav class="default_color black">
        <div class="container-nav">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">
                    <img src="../img/logo-1.png" alt="logo-dodrive" class="header-logo">
                </a>
            </div>
        </div>
    </nav>
</div>