<div class="obrigado">
    <div>
        <img style="width: 100%" src="img/new-logo.png" alt="">
    </div>
    <h3>Obrigado</h3>
    <p>
        Recebemos os seus dados<br>
        Você receberá novidades em breve
    </p>
</div>


